.height-100-md {
    height: inherit;
}

.nav-link:hover {
    background-color: lightcyan;
}

.scroll-list {
    background-color: #eee;
    overflow: scroll;
    height: 100%;
}

.scroll-list-md-2 {
    height: 5rem;
    margin-bottom: .5em;
}

figcaption.figure-caption {
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: -o-ellipsis-lastline;
}

// Medium devices (tablets, 768px and up)
@media(min-width:34em){}
@media(min-width:48em){
  .height-100-md {
      height: 100%
  }

  .scroll-list {
      background-color: transparent;
  }

  .scroll-list-md-2 {
      margin-bottom: 0;
  }
}
@media(min-width:62em){}
@media(min-width:75em){}
