.nav-link:hover {
    background-color: lightcyan;
}

.scroll-list {
    height: 85vh;
    overflow: scroll;
}

figcaption.figure-caption {
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: -o-ellipsis-lastline;
}
